<!DOCTYPE html>
{%extends 'base.html'%}
{% block content %}


        <main class="l-main">
            <section class="home bd-grid" id="home">
                <div class="home__data minitext">
                    <h1 class="mini"> About TutorGpt </h1>
                    <p>TutorGPT is a AI tutor designed to make quality education accessible for students from all backgrounds.
                        By integrating the most effective learning concepts mentioned in the psychology researched backed book, ‘Make it Stick’ into an LLM powered solution,  TutorGPT is able to teach and test concepts with accuracy and help students learn as effectively as well-off students who attend private or extra tuition.  </p>

                </div>
            </section>
{% endblock %}