<!DOCTYPE html>
{%extends 'base.html'%}
{% block content %}

<div class="container mt-5">
    <!-- First Card -->
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Math</h5>
            <p class="card-text">Learn all about GCSE O level Math.</p>
            <a href="/math" class="btn btn-primary">Learn Math</a>
        </div>
    </div>

    <!-- Second Card -->
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Chemistry</h5>
            <p class="card-text">Learn all about GSCE O level Chemistry</p>
            <a href="/chemistry" class="btn btn-primary">Learn Chemistry</a>
        </div>
    </div>

    <!-- Third Card -->
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Physics</h5>
            <p class="card-text">Learn all about GSCE O level Physics</p>
            <a href="#" class="btn btn-primary">Learn Physics</a>
        </div>
    </div>
</div>
<script src="https://unpkg.com/scrollreveal"></script>
{% endblock %}